#############
#  various  #
#############
tags
*.swp
.netrwhist

#################
#  runVimTests  #
#################
tests/*.out
tests/*.tap
tests/*.msgout
tests/*.msgresult
tests/AuxFiles/.cache
